#include <iostream>
#include <string>
using namespace std;

class Calculator
{	
	private:
		int x;
		int y;
		string z;
		int sum;
	public:
		Calculator(int x,int y,string z);		
		//~Calculator();
		void setInteger(int x,int y,string z);
		int getInteger();
		void funcAdd();		
		void funcSub();
		void funcMulti();
		void funcDiv();
		double performOperation();
};

		Calculator::Calculator(int xint,int yint,string zOpper)
		{
			
			x = xint;
			y = yint;
			z = zOpper;
			sum = 0;
		}
		
		void Calculator::setInteger(int xint,int yint, string zOpper)
		{
			x = xint;
			y = yint;
			z = zOpper;
			sum = 0;
		}
		
		double Calculator::performOperation()
		{

			if (z == "+")
				return x + y;
			if (z == "-")
				return x - y;
			if (z == "*")
				return x * y;
			if (z == "/")
				return x / y;
		}



int main()
{
	int x,y;
	string z;
	
	cout << "Enter your Values Ex. (1 + 2)." << endl;
	cin >> x >> y >> z;
	
	Calculator cal(x,y,z);
	
    cout << cal.performOperation() << endl;
	system("pause");
	return 0;
	
}
